@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary: #df3649;
    --secondary: #1C95CC;
}
body{
    background-color: #EDF2FC;
}
/* Header */
.width{
    width: 150px;
    cursor: pointer;
}
#sticky{
    background-color: #ffffffc2;
    position: sticky !important;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
#search-btn{
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 0 8px 8px 0;
    font-weight: 600;
    transition: .3s ease-in-out;
}
#search-btn:hover,
#explore-btn:hover,
#show-more:hover{
    background-color: var(--secondary);
}
input{
    border: 1px solid var(--secondary);
    border-right: none;
    border-radius: 8px 0 0 8px;
    padding: 8px;
    color: var(--primary);
    font-weight: 600;
}
input:focus{
    border: 1px solid var(--primary);
    outline: none;
    border-right: none;
}
main {
    min-height: 72vh;
}
/* Main section/card section */
#explore-btn,
#show-more{
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    padding: 5px 15px;
}
.image-full{
    width: calc(100% - 20px);
}
/* Spinner */
#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    color: #FFF;
}
/* Search result count */
#result-parent p{
    width: fit-content;
    margin-left: auto;
    border-radius: 8px;
}
/* SIGNATURE */
.footer {
    width: 100%;
    background-color: #0b0d17;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 20px 0px;
    letter-spacing: 2px;
  }
  .footer p {
    font-size: 14px;
  }
  #footer-color {
    color: #df5a65;
  }
  .lime {
    color: lime;
  }
  /* Scrollbar */
  ::-webkit-scrollbar{
  width: 10px;
  }
  ::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #ce145b);
  border-radius: 6px;
  }